<h1>Done!</h1>

<p>You've finished evaluating <%= @group.name %> for <%= @project.name %>.
You may still go back and edit your responses, or leave this page.</p>

<%= link_to "Back", back_btn_url %>
<%= link_to "Finish", students_path %>
