<h1><%= @project.name %> is closed!</h1>

<p>You can no longer submit any evaluations for <%= @project.name %> because
and instructor has marked it as closed</p>

<%= link_to "Go Home", students_path %>
