<% if mode != "signup" %>
    <% @title = "Information Edit" %>
    <h1>Editing Student</h1>
<%else%>
    <% @title = "Sign up" %>
    <h1>Sign up account</h1>
<%end%>
<%= render 'form', student: @student, ins_mode: false %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
