<div class="card mx-auto" style="max-width: 25rem">
  <h5 class="card-header">Student Login</h5>
  <div class="card-body">
    <%= form_with url: url_for(action: "login_process", id: @student), local: true, method: :post do %>
        <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, nil, class: "form-control" %>
        </div>
        <%= link_to "Back", students_email_path, class: "btn btn-secondary" %>
        <button type="submit" class="btn btn-primary float-right">Sign In</button>
    <% end %>
  </div>
</div>
