<% @title = "Student Login" %>

<p>Please enter your password below</p>

<%= form_with url: url_for(action: "login_process", id: @student), local: true, method: :post do %>
    <div>
        <%= label_tag "password" %>
        <%= email_field_tag "passwrod", nil %>
        <button type="submit">Sign in</button>
    </div>
<% end %>
