<div class="card">
  <h5 class="card-header">
    <% if @mode != "signup" %>
      Edit Instructor Information
    <% elsif student_logged_in? %>
      Activate Your Account
    <% else %>
      Edit Account Information for Instructor Sign-Up
    <% end %>
  </h5>
  <div class="card-body">
    <% if @mode == "signup" and student_logged_in? %>
      <p class="card-text">Your account is not activated yet. Please activate your account</p>
      <p class="card-text">Please verify that the name below is yours</p>
    <% end %>
    <%= render 'form', instructor: @instructor, ins_mode: params[:mode], sign_mode: @mode %>
  </div>
</div>
