<% if @mode != "signup" %>
    <% @title = "Information Edit" %>
    <h1>Editing Information</h1>
<%else%>
    <%if params[:mode] == "instructor"%>
        <% @title = "Sign up" %>
        <h1>Sign up account</h1>
        <p>Your account is not signed up yet. Please sign up.
        <p>Please verify that the name below is yours.
    <%else%>
        <h1>Edit basic account information for student sign up.</h1>
    <%end%>
<%end%>
<%= render 'form', instructor: @instructor, ins_mode: params[:mode], sign_mode: @mode %>

<% if @mode != "signup" %>
    <%= link_to 'Show', @instructor %>
<%end%>
<%= link_to 'Back', instructors_path %>