<div class="card mx-auto" style="max-width: 25rem">
  <h5 class="card-header">Instructor Login</h5>
  <div class="card-body">
    <%= form_with url: instructors_email_url, local: true, method: :post do %>
        <div class="form-group">
            <%= label_tag :email %>
            <%= email_field_tag :email, nil, class: "form-control" %>
        </div>
        <%= link_to "Back", login_path, class: "btn btn-secondary" %>
        <button type="submit" class="btn btn-primary float-right">Next</button>
    <% end %>
  </div>
</div>
