
<% if params[:mode] == "instructor" || !Instructor.exists? %>

    <h1>Create Instructor Account</h1>

    <%= render 'form', instructor: @instructor, ins_mode: "instructor"%>

    <%= link_to 'Back', instructors_path %>

<%  else %>
    <h1> You are not authorized to view this page. </h1>
    <%= link_to 'Back', :back %>   
<% end %>