<div class="card">
  <h5 class="card-header"><%= @group.name %></h5>
  <ul class="list-group list-group-flush">
      <% @group.students.each do |s| %>
        <%= link_to s.name, s, class: "list-group-item list-group-item-action" %>
      <% end %>
  </ul>
  <div class="card-body">
    <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-primary" %>
    <%= link_to 'Delete', @group, method: :delete, data: {confirm: 'Do you really want to delete this group?' }, class: "btn btn-danger"%>
  </div>
</div>
